.app.light {
	--bg-color: #e8e8ea;
	--inverted-bg-color: #09095c;

	--primary-color: #0232c2;
	--secondary-color: #0954f7;

	--inverted-primary-color: #049604;
	--inverted-secondary-color: #04ff04;
}
